
  .cart{
    margin-right: 20px;
  }
  .search{
   margin-right: 20px;
  }
  .buy{
    color: blue;
  }
  /* .slide{
    text-align: right;
  } */
  .slide{
    display: flex;
    flex-direction: column;
    
  }
  .main{
    display: flex;
    flex-direction: row;
    
  }
  /* .card{
    padding: 20px;
  } */
  .Category{
    text-align: center;
    margin:60px 0px;
  }
 .main2{
  background-color: aqua;
  text-align: center;
  
 }
 .section{
  height: 80vh;
  padding-top: 15px;
}
.back{
  background-color: rgb(255, 247, 225);
  border-radius: 55px;
}
.img{
display: flex;
padding-left:50px ;
}
.main h1{
  color: blue;
}
.main4{
  text-align: left;
  width: 40%;
  height: 70vh;
  padding: 20px 0px 0px 20px;
}
.main3{
  display: flex;
  padding-top: 20px;
}
.card1{
  margin-right: 10px;
}
.card2{
  margin-left: 10px;
}